.containerMain {
  text-align: center;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  color: #132F4C;
}

.App-logo {
  height: 30px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.count_react {
  color: #132F4C;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.content_panel{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgb(231, 235, 240);
  height: 100%;
}
.content_panel>div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn_react{
  background: rgb(25, 118, 210);
  color: white;
  border: 0px solid transparent;
  border-radius: 4px;
  padding: 7px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}