.App {
  text-align: center;
  height: 100%;
}
.header-container{
  height: 55px;
}
.footer-container{
  position: fixed;
  bottom: 0;
  height:100px;
  width: 100%;
}
.content{
  display: flex;
  /* height: calc(100vh - 160px); */
}
.content > *{
  /* flex:1 50%; */
  flex: auto 2 1;
}
.designer-module{
  width: 25%;
  min-width: 25%;
}
.map-content-module{
  width: 75%;
}
.react-logo{
  height: 90px;
}
.main-app{
  display: flex;
  align-items: center;
  justify-content: center;
}
.designer-module{
  width: 100px;
}
